body {

    background:#ffffff;
    color: gray;
    text-align: left;
    font-family: 'Arial';
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: #37488b;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;

}

#cabecera #tagline {
     padding: 0 0 0 1em;
     font-weight: normal;
     font-size:  0.8em;

}

#cabecera #logo 
{
    width: 120px;
    vertical-align: middle;
}


#container 
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1 
{
    font-size: 20px;
}

#post
{
    background: whitesmoke;
    padding: 1em;
    font-size: 16px;
}

#footer
{
	background: #777;
	color: white;
	text-align: center;
	padding: 0.5em;
	font-size: 13px;
}

